/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5vw;
    letter-spacing: .1rem;
}

button, input {
    font-family: 'Oxygen', sans-serif;
    font-size: 2vw;
    letter-spacing: .1rem;
}

