<div id="todo-container">
    <h1>Todo List</h1>
    <form id="add-todo">
        <label for="todo">Todo:</label>
        <p [ngClass]="valid ? 'valid' : 'error'">Todo is required</p>
        <input #todo (focus)="valid=true" type="text" name="todo">
        <label for="date">Complete By:</label>
        <p [ngClass]="valid ? 'valid' : 'error'">Complete By is required</p>
        <input #date type="datetime-local" name="date">
        <button (click)="addTodo(todo.value, date.value, $event); todo.value = ''; date.value = ''">Add Todo</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Todo</th>
                <th>Deadline</th>
                <th>Finished On Time?</th>
                <th>Time Left</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list" [ngClass]="item.completed ? 'completed' : ''" (click)="setCompleted(item)">
                <td [ngClass]="item.completed ? 'completed' : ''">{{item.todo}}</td>
                <td>{{item.date}}</td>
                <td class="image-container"><img [src]="item.onTime === true ? '../../assets/images/checkmark-24.png' : item.onTime !== null ? '../../assets/images/x-mark-24.png' : ''"></td>
                <td>{{item.timeRemaining}}</td>
                <td><button (click)="deleteTodo(item)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>